/* styles.css */

/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../images/pdf.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay p {
    font-size: 24px;
}

/* Estilos adicionais para o conteúdo sobreposto */

.musica {
    display: flex; /* Alteração para usar flexbox */
    margin: 20px;
    text-align: center;
    align-items: center;
}

header {
    background-color: #FF6347; /* Cor de fundo laranja */
    padding: 20px;
    text-align: center;
    color: white; /* Cor do texto branco */
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para o subtítulo */
h2 {
    font-size: 18px;
    font-weight: normal;
}

.musica img {
    max-width: 200px;
    height: auto;
    margin-right: 20px; /* Espaço entre as imagens */
}

.musica p {
    margin-top: 10px;
    font-weight: bold;
}

.search-container {
    margin-top: 20px;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


